.bonus-container {
  text-align: center;
  img {
    width: 100%;
  }

  @include desktop {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 400px;
    }
  }
}

.mario-review {
  max-width: 420px;
  .nes-mario {
    float: left;
  }
}