.parallax {
  background-image: url('http://hdqwalls.com/wallpapers/8-bit-pixel-art-city-2o.jpg');
  min-height: 80vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .slogan {
    font-size: 20px;
    text-align: center;
    width: 100%;
  }

  .title {
    font-weight: 900;
    font-size: 40px;
    color: black;
    text-align: center;
    width: 100%;
  }

  .button-wrapper {
    text-align: center;
    width: 100%;
  }
}